
# doc or demo file
documentation/* linguist-vendored
*.doc* linguist-vendored
*.xls* linguist-vendored
*.ppt* linguist-vendored
*.sql linguist-vendored
*.txt linguist-vendored
*.log linguist-vendored

# Documentation
zen.documentation/*
# Docker Volume
zen.volumes/*
# backup folders
zen.backup/*

# ╔══════════╗
# ╠  Python  ╣
# ╚══════════╝
# front end file
apps/templates/* linguist-vendored
templates/* linguist-vendored
static/* linguist-vendored
