# ╔═══════════╗
# ╠  Default  ╣
# ╚═══════════╝
# system or demo files
*.doc* linguist-vendored
*.xls* linguist-vendored
*.ppt* linguist-vendored
*.sql linguist-vendored
*.webp linguist-vendored
*.png linguist-vendored
*.jpg linguist-vendored
*.txt linguist-vendored
*.log linguist-vendored
# documentation, develop files
.docker/* linguist-vendored
documentation/* linguist-vendored
logs/* linguist-vendored

# ╔══════════╗
# ╠  Python  ╣
# ╚══════════╝
# front end file
apps/templates/* linguist-vendored
templates/* linguist-vendored
media/* linguist-vendored
static/* linguist-vendored
