# ╔══════════╗
# ╠  System  ╣
# ╚══════════╝
# Desktop Services Store (Mac OS)
.DS_Store
# Image Cache File (Windows OS)
Thumbs.db
# Google Cloud Sync
*.driveupload
.tmp.drivedownload/
# folder structure force keep
!**/.gitkeep

# ╔══════════╗
# ╠  Editor  ╣
# ╚══════════╝
# Visual Studio Settings
.devcontainer/
.vscode/

# ╔════════════════╗
# ╠  Coding Style  ╣
# ╚════════════════╝
.editorconfig
.flake8
.pycodestyle
.pylintrc
!tools/.pylintrc

# ╔══════════╗
# ╠  Python  ╣
# ╚══════════╝
*.py[cod]
__pycache__/

# ╔════════════╗
# ╠  Personal  ╣
# ╚════════════╝
zen.Backup/
zen.Log/
zen.Secret/
