# ╔══════════╗
# ╠  System  ╣
# ╚══════════╝
# Mac: desktop services store
.DS_Store
# Windows: image cache file
Thumbs.db
# Google: google cloud sync
.tmp.drivedownload/
*.driveupload
# folder structure force keep
!**/.gitkeep

# ╔═══════════╗
# ╠  Develop  ╣
# ╚═══════════╝
# Visual Studio Settings
.devcontainer/
.vscode/
# Coding Style
.editorconfig
.flake8
.pycodestyle
.pylintrc
!tools/.pylintrc
# Docker
.docker/var/
# Logger
*.log

# ╔══════════╗
# ╠  Python  ╣
# ╚══════════╝
# python byte-compiled
__pycache__/
*.py[cod]
# python package management
poetry.lock
pyproject.toml

# ╔══════════╗
# ╠  Django  ╣
# ╚══════════╝
# Media, Static
media/*

# ╔══════════╗
# ╠  Secret  ╣
# ╚══════════╝
secrets/
