# ╔═══════════╗
# ╠  Default  ╣
# ╚═══════════╝
*.doc* linguist-vendored
*.jpg linguist-vendored
*.log linguist-vendored
*.png linguist-vendored
*.ppt* linguist-vendored
*.sql linguist-vendored
*.txt linguist-vendored
*.webp linguist-vendored
*.xls* linguist-vendored

# ╔═══════════╗
# ╠  Develop  ╣
# ╚═══════════╝
.build/* linguist-vendored
.docker/* linguist-vendored
.kube/* linguist-vendored
docs/* linguist-vendored
documentation/* linguist-vendored
logs/* linguist-vendored

# ╔══════════╗
# ╠  Python  ╣
# ╚══════════╝
apps/templates/* linguist-vendored
media/* linguist-vendored
static/* linguist-vendored
templates/* linguist-vendored

# ╔════════════╗
# ╠  Personal  ╣
# ╚════════════╝
zen.*/* linguist-vendored
